
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Pretendard";
}

.header{
    width: auto;
    padding-top: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.logo{
    font-family: "Pretnedard";
    font-size: 40px;
    margin-left: 20px;
}
.siteName{
    
    font-size: 36px;
    position: relative;
    top: -4px;
    font-weight: 400;
}

.menus{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    gap: 50px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 50px;
}
.menu{
    width: 100px;
    height: 40px;
    transition: 0.2s all;
    font-weight: 400;
    cursor: pointer;
}
.menu:hover{
    color: gray;
    /* background-color: white; */
}

.wrapperService{
    display: grid;
    grid-template-columns: repeat(auto-fill, 23%);
    gap:38px;
    margin: 10px;
}
.imageService{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap:38px;
    
}

.item{
    margin-top: 15px;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.image{
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 200px;
}
.itemTitle{
    margin-top: 10px;
    font-size: 24px;
}
.itemPrice{
    color: rgba(0, 0, 0, 0.7);
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        color:rgb(157, 157, 157);
    }
}
.Jobsinsa{
    text-decoration: none;
    color: white;
    &:hover{
        color:white;
    }
}
.sidebar{
    border-right: 1px solid rgba(0, 0, 0, 0.332);
    width: 250px;
    height: 1300px;
}
.sidebarmenu{
    font-size: 30px;
}

.wrappers{
    position: absolute;
    top: 135px;
    left: 280px;
}
.jobTitle{
    font-size: 22px;
}

.wrapControl{
    display: none;
}
.active{
    display: block;
}

li {
    font-size: 20px;
}
.wrapimg{
    width: 300px;
    margin-left: 30px;
}
.jobContent_1{
    font-size: 20px;
    text-decoration: none;
    color: black;
    &:hover{
        color:black;
    }
}